
.card {
	display: block;
	border: 1px solid $color__border-table;
	@include word-wrap;
}


//
// Grid layout
//

@include media-breakpoint-up(md) {
	.card-deck {
		display: flex;
		margin-right: -$card-deck-margin / 2;
		margin-left: -$card-deck-margin / 2;
		flex-flow: row wrap;
		.card {
			margin-right: $card-deck-margin / 2;
			margin-left: $card-deck-margin / 2;
			flex: 1 0 0;
			display: flex;
			flex-direction: column;

			-webkit-display: flex;
			-webkit-flex-direction: column;
			-webkit-justify-content: space-between;
			justify-content: space-between;
			.blog-masonry-2-cols & {
				display: block;
			}
			&.sticky {
				.home & {
					display: block;
					max-width: calc(100% - #{$card-deck-margin});
					flex: none;
				}
			}
		}
	}
}


//
// Masonry layout
//

@include media-breakpoint-up(md) {
	.card-columns {
		-webkit-column-gap: $card-deck-margin;
		-moz-column-gap: $card-deck-margin;
		column-gap: $card-deck-margin;
		.card {
			display: inline-block;
			width: 100%; // Don't let them exceed the column width
		}
	}
	.posts-list--masonry-2-cols {
		column-count: 2;
		-moz-column-count: 2;
		-webkit-column-count: 2;
	}
}

//
// Vertical Justify layout
//

@include media-breakpoint-up(md) {
	.posts-list {
		&--vertical-justify {
			display: flex;
			margin-right: -$card-deck-margin / 2;
			margin-left: -$card-deck-margin / 2;
			flex-flow: row wrap;
			.card {
				flex: 1 0 calc(100%/3 - #{$card-deck-margin});
				max-width: calc(100%/3 - #{$card-deck-margin});
				margin-right: $card-deck-margin / 2;
				margin-left: $card-deck-margin / 2;
				&:nth-child(7n + 1),
				&:nth-child(7n + 4) {
					flex: 1 0 calc(100%/1.5 - #{$card-deck-margin});
					max-width: calc(100%/1.5 - #{$card-deck-margin});
				}
			}
		}
	}
}
