.tm-testi {
	&-slider {
		padding: 0;
	}
	&__item {
		margin-bottom: 70px;
		&.swiper-slide {
			margin-bottom: 0;
		}
		&-avatar.avatar {
			align-self: center;
			margin: 0 0 30px;
			border-radius: 50%;
			border: 3px solid #fff;
			box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
		}
		&-body {
			footer {
				display: flex;
				flex-direction: column;
				align-items: left;
				.tm-testi__item-name {
					font-size: 24px;
					font-weight: 700;
				}
			}
			&,
			p,
			cite {
				text-align: left;
			}
			p {
				&:before {
					content: '\201C';
				}
				&:after {
					content: '\201D';
				}
			}
		}
		cite {
			padding: 0;
			margin-top: 35px;
			&:before {
				content: none;
			}
		}
		cite,
		&-position,
		&-email,
		&-company {
			@include font-size(14/16);
		}
		blockquote {
			padding: 0;
			&:before {
				top: 0;
				left: 20px;
				font-size: 85px;
			}
			#tm_builder_outer_content .tm-testi--boxed &:before {
				content: none;
			}
			.tm-testi__wrap--perview-1 &,
			.tm-testi-page--archive & {
				flex-direction: column;
				justify-content: center;
			}
		}
	} // default.tmpl
	&--default {
		&.swiper-container {
			position: static;
			&[data-atts*='"slidesPerView":1'] {
				margin: 0;
			}
		}
	} // boxed.tmpl
	&--boxed {
		blockquote {
			border: none;
			padding: 45px 30px;
		}
	} // speech-bubble.tmpl
	&--speech-bubble {
		.tm-testi__item-body:after {
			left: 75px;
		}
	} //swiper carousel
	& {
		position: relative;
	}
	div.swiper-container {
		position: static;
		margin: 0 80px;
		&-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
			margin: 0 7px;
		}
	}

	.swiper-pagination {
		text-align: left;
	}

	& &-slider {
		&__next,
		&__prev {
			&,
			.elementor-widget-container & {
				transition: .3s;
				opacity: .35;
				top: 25%;
				width: 31px;
				height: 71px;
				&:hover {
					opacity: 1;
				}
				&:before {
					content: none;
				}
			}
		}
		&__next {
			&,
			.elementor-widget-container & {
				&,
				&:hover {
					right: 0;
					background: url(assets/images/tm-testi-slider-next.png);
				}
			}
		}
		&__prev {
			&,
			.elementor-widget-container & {
				&,
				&:hover {
					left: 0;
					background: url(assets/images/tm-testi-slider-prev.png);
				}
			}
		}
		&__pags {
			position: static;
			margin-top: 43px;
			.swiper-pagination-bullet {
				transition: .3s;
				width: 10px;
				height: 10px;
				opacity: 1;
			}
		}
	}
}